/* Ajouter une police Google pour un style plus élégant */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: url('/'); /* Only background image */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.login-form {
  background: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s ease-in-out;
  width: 90%;
  max-width: 400px;
}

.login-form:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.login-form h1 {
  margin-bottom: 24px;
  font-size: 24px;
  color: #333;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  width: 100%;
  padding: 15px;
  margin: 12px 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  font-size: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  outline: none;
}

button {
  width: 100%;
  padding: 15px;
  margin: 12px 0;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #007bff, #0056b3);
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
  background: linear-gradient(135deg, #0056b3, #003f7f);
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.remember-me {
  display: flex;
  align-items: center;
  margin: 12px 0;
  font-size: 14px;
  color: #666;
}

.remember-me input {
  margin-right: 8px;
  transform: scale(1.2);
}

.remember-me label {
  font-size: 14px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.forgot-password,
.sign-up {
  flex: 1;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #007bff;
  border-radius: 25px;
  color: #007bff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  margin: 0 5px;
}

.forgot-password:hover,
.sign-up:hover {
  background-color: #007bff;
  color: #fff;
}
